
body{
font-family: 'Arsenal', sans-serif;
}
article{font:{
    size: 20px;
}
}
.bgSecundario{
    background-color:#86895d;
}
.bgPrincipal{
    background-color: #dbdbce;
}

.textcolor{color: #30330a;}