footer{
    h5{
        font:{
            size: 20px;
            family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            weight:normal ;
        }
    }
}

.logoredes{
    width: 60px;
    height: 40px;
    transition: 1s all;
    &:hover{
        background-color: #e2e7cf;
        border-radius: 50px;
        color: transparent;
    } 
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
}