.gradienteHeader{
    background-image: linear-gradient(to bottom,#9bbe93,transparent);
}
.gradienteFooter{
    background-image: linear-gradient(to top,#9bbe93,transparent);
}

.grNosotros{
    background-image: linear-gradient(to top,#617E00,transparent);
}