header{
    nav{
        padding: 20px;
        margin: 20px;
        a{
            margin: 15px;
            font:{
                size: 20px;
                family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                weight:normal ;
            }
            transition: 0.5s all;
            &:hover{
                background-color: #86895d;
                border-radius: 15px;
                color: black;
            }
        }
        
    }
}
.mp{margin: 15px;padding: 15px;}